.bnt {
  background-color: black;
  color: red;
  margin-right: 50px;
  width: 90px;
  height: 200px;
  font-size: 35px;
}

.buttn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  padding: 700px;
}

nav {
  background-color: #F4F7FB;
}
nav .nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}