.btn {
  background-color: black;
  color: red;
}

nav {
  background-color: #F4F7FB;
}
nav .nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  list-style: none;
  gap: 10px;
}