@mixin flex( $justify,$align,$direction:row,$wrap:no-wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction row;
    flex-wrap:$wrap no-wrap;
}